behaviors {
    // For the "layer" key, it'd nice to be able to use it as either a shift or a toggle.
    // Configure it as a tap dance, so the first tap (or hold) is a &mo and the second tap is a &to
    layer_td: tap_dance_0 {
            compatible = "zmk,behavior-tap-dance";
            label = "LAYER_TAP_DANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&mo LOWER>, <&to LOWER>;
    };

    magic: magic_hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "MAGIC_HOLD_TAP";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&rgb_ug_status_macro>;
    };

    
    hm: homerow_mods { // use on either hand
            compatible = "zmk,behavior-hold-tap";
            label = "homerow_mods";
            #binding-cells = <2>;
            tapping-term-ms = <my_tapping_term>;
            quick-tap-ms = <my_quick_tapping_term>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
   };
   hmr: homerow_mods_right { // use on right hand to mod left
            compatible = "zmk,behavior-hold-tap";
            label = "homerow_mods";
            #binding-cells = <2>;
            tapping-term-ms = <my_tapping_term>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <LEFT_HAND_KEYS THUMB_KEYS>; // left hand allowed
   };
   hml: homerow_mods_left { // use on left hand to mod right
            compatible = "zmk,behavior-hold-tap";
            label = "homerow_mods";
            #binding-cells = <2>;
            tapping-term-ms = <my_tapping_term>;
            flavor = "balanced";
            bindings = <&kp>, <&kp>;
            hold-trigger-key-positions = <RIGHT_HAND_KEYS THUMB_KEYS>; // right hand allowed
   };

   hrm_d: hrm_d {
            compatible = "zmk,behavior-hold-tap";
            label = "hrm_a";
            #binding-cells = <2>;
            tapping-term-ms = <my_tapping_term>;
            flavor = "balanced";
            bindings = <&kp>, <&ak_d>;
            hold-trigger-key-positions = <RIGHT_HAND_KEYS THUMB_KEYS>; // left hand allowed
   };

   hrm_a: hrm_a {
            compatible = "zmk,behavior-hold-tap";
            label = "hrm_a";
            #binding-cells = <2>;
            tapping-term-ms = <my_tapping_term>;
            flavor = "balanced";
            bindings = <&kp>, <&ak_a>;
            hold-trigger-key-positions = <LEFT_HAND_KEYS THUMB_KEYS>; // left hand allowed
   };
};